<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("./partials/head.ejs") %>
</head>

<body>

  <!-- Navigation -->
  <%- include ("./partials/navbar.ejs") %>
  <!-- Page Content -->
  <main class="container">
    <%- include("./partials/messages.ejs") %>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to Walla-It</h1>
      <p class="lead">An application for ESL Teachers to discuss Jobs And Experiences In The Middle-East.</p>
      <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
    </header>

    <!-- Page Features -->
    <section class="row text-center">

      <section class="col-lg-4">
        <h4 class="card-title">Post</h4>
        <p class="card-text">Share Info About The Latest Hirings, Firings and places you "Should" or "Should Not" Work
          At!!.</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">Comment</h4>
        <p class="card-text">Have Something To Add To The Comment Area?</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">Stay Informed</h4>
        <p class="card-text">Places you "Should" or "Should Not" Work At!!</p>
      </section>

    </section>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <%- include("./partials/baseScripts.ejs") %>
</body>

</html>